:root {
    /* Section Background Colors */
    --section-bg-1: #A7D180;
    --section-bg-2: #D9D9A9;
    --section-bg-3: #DB6430;
    --section-bg-4: #6E5E39;
    --background-color: #FCFAF5;
    --text-color: #312F2F;

    --font-poppins: 'Poppins', 'Poppins Placeholder', sans-serif;
    --font-inter: 'Inter', 'Inter Placeholder', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-logo: "Qwitcher Grypen", cursive;
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    background-color:#f1f1f1;
}

.h_parent {
    width: 100%; 
    height: fit-content;
    background-color:#f1f1f1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow: hidden;
}



/* Header classes */

.h_header {
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.h_header_logo {
    font-family: var(--font-logo);
    font-weight: 700;
}

.h_header_nav_list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 24px;

    li {
        font-family: var(--font-poppins);
        font-weight: 500;
        cursor: pointer;
        letter-spacing: 1px;
        transition: color 0.3s ease, text-decoration 0.3s ease;
        -webkit-transition: color 0.3s ease, text-decoration 0.3s ease;
        -moz-transition: color 0.3s ease, text-decoration 0.3s ease;
        -ms-transition: color 0.3s ease, text-decoration 0.3s ease;
        -o-transition: color 0.3s ease, text-decoration 0.3s ease;
    }

    li:hover {
        text-decoration: underline;
        color: var(--section-bg-3);
    }
}

@media screen and (max-width: 650px) {
    .h_header {
        flex-direction: column;
        height: fit-content;
        gap: 16px;
    }

    .h_header_logo {
        font-size: 24px;
    }

    .h_header_nav_list {
        flex-direction: column;
        gap: 4px;
        align-items: center;
        opacity: 70%;
    }
}



/* Hero section classes */

.h_hero {
    height: 90vh;
    width: 100%;
    background-color: #6E5E39;
    display: flex;
    flex-direction: row;

}

.h_hero_first_panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;

    h1 {
        font-family: var(--font-poppins);
        font-size: 48px;
        font-weight: 700;
        line-height: 50.4px;
        color: #FCFAF5;
    }

    p {
        font-family: var(--font-poppins);
        font-weight: 400;
        color: #FCFAF5;
    }
}

.h_hero_second_panel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h_hero_second_panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 650px) {
    .h_hero {
        flex-direction: column;
        overflow: hidden;
        position: relative;
        height: 70vh;
    }

    .h_hero_first_panel {
        position: absolute;
        z-index: 10;
        background-color: none;
        justify-content: center;
        h1 {
            font-size: 35px;
            font-weight: 800;
            display: flex;
            justify-content: center;
        }

        p {
            display: none;
        }
    }

    .h_hero_second_panel {
        img {
            opacity: 30%;
        }
    }
}


/* Contact section classes */
.h_contact {
    height: 40vh;
    width: 100%;
    background-color: var(--section-bg-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-poppins);
    padding: 120px;
    gap: 24px;

    h1 {
        font-size: 40px;
        font-weight: 700;
    }

    button {
        font-family: var(--font-poppins);
        font-size: 15px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        padding: 8px;
        border: none;
        background-color: transparent;
        gap: 8px;

        a {
            text-decoration: none;
            color: inherit;
        }

    }

    button:hover {
        opacity: 80%;
        scale: 110%;

        p {
            transform: translateX(5px);
            -webkit-transform: translateX(5px);
            -moz-transform: translateX(5px);
            -ms-transform: translateX(5px);
            -o-transform: translateX(5px);
            transition: transform 1s ease;
            -moz-transition: transform 1s ease;
            -ms-transition: transform 1s ease;
            -o-transition: transform 1s ease;
            -webkit-transition: transform 1s ease;
        }
    }
}

@media screen and (max-width: 900px) {
    .h_contact {
        height: 50vh;
    }
}

@media screen and (max-width: 650px) {
    .h_contact {
        display: none;
    }
}


/* Article section classes */
.h_article {
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    line-height: 20.6px;
    align-items: center;
    justify-content: end;
    font-family: var(--font-poppins);
    padding-left: 120px;
    padding-right: 120px;
    gap: 32px;

    img {
        height: 500px;
        width: 600px;
        --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
        --m:
          left   var(--_i,0%) top    var(--_g),
          bottom var(--_i,0%) left   var(--_g),
          top    var(--_i,0%) right  var(--_g),
          right  var(--_i,0%) bottom var(--_g);
        -webkit-mask: var(--m);
                mask: var(--m);
        filter: grayscale();
        transition: .3s linear;
        cursor: pointer;
      }
      img:hover {
        --_i: 10%;
        filter: grayscale(0);
      }

    div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    div h1 {
        font-size: 48px;
        line-height: 60px;
    }

    div p {
        font-size: large;
        line-height: 30px;
    }

    div button {
        font-family: var(--font-poppins);
        font-size: 15px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        border: 2px solid var(--section-bg-3);
        color: var(--section-bg-3);
        padding: 4px;
        align-items: center;
        background-color: transparent;
        gap: 8px;

        

        a {
            text-decoration: none;
            color: inherit;
        }
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}

    div button:hover {
        opacity: 80%;
        scale: 110%;
    }
}

@media screen and (max-width: 1300px) {
    .h_article {
        height: 90vh;
        img {
            height: 350px;
            width: 450px;
        }

        div h1 {
            font-size: 40px;
            line-height: 40px;
        }

        div p {
            font-size: medium;
        }

        div p:nth-child(2) {
            display: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .h_article {
        height: fit-content;
        padding-top: 30px;
        padding-bottom: 30px;
        img {
            height: 250px;
            width: 350px;
        }

        div h1 {
            font-size: 30px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 800px) {
    .h_article {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .h_article {
        height: fit-content;
        padding-left: 30px;
        padding-right: 30px;
        img {
            position: relative;
        }
    }
}



/* Gallery section classes */
.h_gallery {
    height: fit-content;
    width: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color:#f1f1f1;
    font-family: var(--font-poppins);
    overflow: auto;
    h1 {
        font-size: 48px;
    }
    h3 {
        font-size: 20px;
        opacity: 40%;
        margin-top: -40px;
    }
}

.h_gallery_g {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .h_gallery {
        height: 180vh;
        padding-left: 30px;
        padding-right: 30px;
        h1 {
            font-size: 30px;
        }
        h3 {
            font-size: 15px;
            opacity: 40%;
            margin-top: -20px;
        }
    }

    .h_gallery_g {
        left: 25vw;
    }
}

.h_footer {
    height: 150px;
    width: 100%;
    background-color: var(--text-color);
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.h_footer_logo {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: x-large;
    height: fit-content;
    width: 100%;
    color: var(--background-color);
}

.h_footer_details {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    font-family: var(--font-poppins);
    color: var(--background-color);

    p {
        opacity: 30%;
    }
}

@media screen and (max-width: 600px) {
    .h_footer {
        flex-direction: column;
        height: fit-content;
    }
}

.carousel-container {
    position: relative;
    width: 600px;
    overflow: hidden;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .carousel-container{
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .carousel-container{
        width: 300px;
        height: 500px;
    }
}

.imgi_gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imgi {
    min-width: 100%; /* Make each image occupy the full width */
    height: 250px; /* Set a fixed height for images */
    object-fit: cover; /* Ensure the image fits well */
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 1000;
    font-size: 18px;
    border-radius: 50%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.details {
    width: 100%;
    height: fit-content;
    background-color: #A7D180;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 2px solid #DB6430;
    gap: 5px;

    img {
        border: 2px solid #312F2F;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}

.hidden {
    display: none;
}

.details-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    &:hover{
        text-decoration: underline;
    }
}

/* Container for the toggle switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Hide the checkbox input */
  .toggle-switch input {
    display: none;
  }
  
  /* The slider (background and handle) */
  .toggle-switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  /* The circle inside the slider */
  .toggle-switch label::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  /* Checked state */
  .toggle-switch input:checked + label {
    background-color: #4caf50;
  }
  
  .toggle-switch input:checked + label::before {
    transform: translateX(26px);
  }
  